.contestContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.navigationContainer {
    margin-bottom: 2rem;
    width: 100%;
}

.navigationRow {
    width: 100%;
}

.rowWidth70em {
    width: 70rem;
}

.sectionContainer {
    margin-bottom: 2rem;
    width: 70rem;
}

.rowMy {
    border: 2px solid green;
}

.colMyself {
    border: 2px solid red;
}

.sectionContent {
    padding: 20px;
    min-height: 2rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
}